version: 2

node_10: &node_10
  docker:
    - image: node:19

node_12: &node_12
  docker:
    - image: node:19

node_next: &node_next
  docker:
    - image: node:latest@sha256:79c8e1e6538c20ef169fdd103396f475ae91430130f0f93d1173503998c0b100

test_plan: &test_plan
  steps:
    - checkout
    - restore_cache:
        keys:
          - v1-dependencies_test_plan
    - run: yarn install --frozen-lockfile
    - save_cache:
        paths:
          - node_modules
          - ${HOME}/.cache/yarn
        key: v1-dependencies_test_plan
    - run: yarn test
    - run: $(yarn bin)/codecov || echo "CodeCov did not collect coverage reports"

jobs:
  node_10_test_plan:
    <<: [*node_10, *test_plan]
  node_12_test_plan:
    <<: [*node_12, *test_plan]
  node_next_test_plan:
    <<: [*node_next, *test_plan]

workflows:
  version: 2
  build:
    jobs:
      - node_10_test_plan
      - node_12_test_plan
      - node_next_test_plan
